:root {
    --grey: #ECECEC;
    --purple: #A675F5;
    --blue: #050542;
    --blue-50: rgba(5, 5, 66, 0.5);
    --green: #66E5BF;
    --yellow: #FFFC86;

    --background: var(--grey);
    --color: var(--blue);
    --button-color: var(--grey);

    --accent-color-1: var(--purple);
    --accent-color-2: var(--green);
    --accent-color-3: var(--yellow);

    --grid-1: 100vw / 24;
    --grid-1-calc: calc(var(--grid-1));
    --padding-side: clamp(1rem, var(--grid-1-calc), 5rem);

    --small-radius: 0.5rem;
    --section-width: calc(100vw - 3rem);
    --max-width: 117rem;
    /* Animated to 1.5 in js: */
    --radius: 0.5rem; 
    
    --calc-side: calc((100vw - var(--max-width)) / 2);
    
}


@media (max-width: 750px) {
    :root {
        /* Animated to 1 in js: */
        --radius: 0.25rem;
        --section-width: calc(100vw - 1rem);
    }
}

@media (prefers-reduced-motion) {
    body, :root {
        --radius: 1.5rem !important;
    }
}
@media (prefers-reduced-motion) and (max-width: 750px) {
    body, :root {
        --radius: 1rem !important;
    }
}
/* Reset */

* {
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-family: inherit;
    color: inherit;
}

/* Basics */

html,
body {
    scroll-behavior: smooth;
}

html {
    background-color: var(--accent-color-1);
}

body {
    color: var(--color);
    font-family: 'Open Sans', sans-serif;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: calc(var(--radius) / 2) solid var(--accent-color-1);
    border-top: none;
    z-index: 12;
    pointer-events: none;
}

body::after {
    content: '';
    position: fixed;
    bottom: calc(var(--radius) / 2);
    left: calc(var(--radius) / 2);
    width: calc(var(--radius));
    height: calc(var(--radius));
    border-radius: var(--radius);
    z-index: 11;
    box-shadow: calc(var(--radius) / -2) calc(var(--radius) / 2) 0 0 var(--accent-color-1);
}

.sr-only {
    position: absolute;
    text-indent: -9999px;
}

main {
    position: relative;
    z-index: 11;
    background: var(--background);
    border-radius: var(--radius);
    margin: 0 calc(var(--radius) / 2);
    padding-bottom: var(--padding-side);
}
@media (max-width: 750px) {
    main {
        z-index: 1;
    }
    header {
        z-index: 12;
    }
}


/* Typo */
.font-bold {
    font-weight: 600;
}

.font-semibold {
    font-weight: 550;
}

.font-medium {
    font-weight: 500;
}

.font-regular {
    font-weight: 400;
}

.xlarge-heading {
    font-size: clamp(2.5rem, calc(64 / 60 * var(--grid-1)), 5rem);
    letter-spacing: -0.05em;
    line-height: 1;
}

.large-heading {
    font-size: clamp(2rem, calc(52 / 60 * var(--grid-1)), 4.375rem);
    letter-spacing: -0.05em;
    line-height: 1;
}

.medium-heading {
    font-size: clamp(1.5rem, calc(40 / 60 * var(--grid-1)), 3.25rem);
    letter-spacing: -0.05em;
    line-height: 1;
}

.small-heading {
    font-size: clamp(1rem, calc(18 / 60 * var(--grid-1)), 1.5rem);
    letter-spacing: -0.03em;
}

.xlarge-body {
    font-size: clamp(1.25rem, calc(24 / 60 * var(--grid-1)), 2rem);
    letter-spacing: -0.04em;
    line-height: 1.3;
}


.large-body {
    font-size: clamp(1rem, calc(18 / 60 * var(--grid-1)), 1.5rem);
    letter-spacing: -0.04em;
    line-height: 1.5;
}

.medium-body {
    font-size: clamp(0.875rem, calc(16 / 60 * var(--grid-1)), 1.25rem);
    letter-spacing: -0.04em;
    line-height: 1.5;
}

.small-body {
    font-size: clamp(0.75rem, calc(14 / 60 * var(--grid-1)), 1.125rem);
    letter-spacing: -0.04em;
    line-height: 1.5;
}

.caps {
    text-transform: uppercase;
    letter-spacing: -0.02em;
}

/* Spacing */
.p {
    font-size: clamp(1rem, calc(18 / 60 * var(--grid-1)), 1.5rem);
    letter-spacing: -0.03em;
}

.p .large-heading+p {
    margin-top: 1em;

}

.p .medium-heading+p,
.p .medium-heading+details {
    margin-top: 1.1em;

}

.p .large-heading+p {
    margin-top: 1.1em;
}

.p p+p {
    margin-top: 1.1em;
}

.p p+.large-body {
    margin-top: 1.1em;
}

.p p+p.small-body {
    margin-top: 0.3em;
}

.p p+.button-row,
.p p+.button {
    margin-top: 2.5rem;
}

.p .large-body+.button-row,
.p .large-body+.button {
    margin-top: 1em;

}

@media (max-width: 750px) {

    .p p+.button-row,
    .p p+.button {
        margin-top: 1.5rem;

    }
}

.p .button-row+p,
.p .button+p {
    margin-top: 2rem;

}

@media (max-width: 750px) {

    .p .button-row+p,
    .p .button+p {
        margin-top: 1rem;
    }
}

/* Image caption */
.image-container {
    position: relative;

}

.image-container figcaption {
    position: absolute;
    bottom: -8px;
    left: -8px;
    width: max-content;
    border: 2px solid currentColor;
    padding: 0.5rem 0.75rem;
    border-radius: var(--small-radius);
    background-color: var(--background);
    max-width: calc(var(--width) - 2rem);

}

figcaption span {
    display: block;
}

/* Buttons */
.button-row {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
}


.button {
    position: relative;
    display: block;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: -0.04em;
    font-weight: 550;
    font-size: clamp(1rem, calc(16 / 60 * var(--grid-1)), 1.25rem);
}

.button:hover,
.button:focus {
    outline: none;

}

.button:hover span,
.button:focus span {
    transform: translate(-1px, 1px);
}

.button span {
    position: relative;
    display: block;
    padding: 0.75rem;
    border-radius: var(--small-radius);
    border: 1px solid currentcolor;
    background: var(--background);
    transition: translate 0.3s ease-out;

}

.button.is-full-color.is-accent-1 span,
.button.is-full-color.is-accent-1::before {
    background: var(--accent-color-1);
}

.button.is-full-color.is-accent-2 span,
.button.is-full-color.is-accent-2::before {
    background: var(--accent-color-2);
}

.button.is-full-color.is-accent-3 span,
.button.is-full-color.is-accent-3::before {
    background: var(--accent-color-3);
}

.button.is-dark span {
    background: var(--color);
    color: var(--button-color);
    border-color: var(--color);
}

.button.is-dark::before {
    background: none;
}

.button::before {
    content: '';
    position: absolute;
    top: 2px;
    left: -4px;
    right: 4px;
    bottom: -2px;
    z-index: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--small-radius);
    border: 1px solid currentcolor;
    background: var(--background);
    transition: background 0.2s ease-out;
}

.button:focus::before {
    /* HAHAH 🤡 geef mij maar bem */
    background-color: var(--color) !important;
}


/*
======================
HEADER
======================
*/


.header {
    position: relative;
    background-color: var(--accent-color-1);
    color: var(--background);
    padding: 1.5rem 0 0 var(--padding-side);
}

@media (max-width: 750px) {
    .header {
        overflow: visible;
        padding-bottom: 1rem;
    }
}

.top-header {
    display: flex;
    gap: 1.75rem;
    flex-wrap: wrap;
    align-items: center;
    width: calc(100% - 1.5rem * 2 - var(--padding-side));
    max-width: calc(var(--max-width) - 1.5rem * 6 - var(--padding-side));
    min-height: 1.5rem;
}


.header .insta {
    margin-right: var(--padding-side);
}


@media (max-width: 870px) {
    .top-header {
        width: max-content;
        align-items: center;
    }
    
    .header .insta {
        margin-right: 0;
        margin-left: auto;
        align-self: center;
    }
}

@media (max-width: 750px) {
    .top-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }
    
    .header .insta {
        order: 1;
        margin-left: 0;
        margin-right: 1rem;
    }
}


.hva-logo {
    display: block;
    width: calc(250/1440 * 100vw);
    max-width: 330px;
    min-width: 16rem;

}

.hva-logo svg {
    height: auto;
    width: 100%;
}

.header-title {
    position: relative;
    letter-spacing: -0.03em;
    margin-top: -0.5em;
    font-size: clamp(0.75rem, calc(var(--grid-1) * 16 / 60), 1.25rem);
}

.header-title::before {
    content: '';
    position: absolute;
    left: -0.875rem;
    width: 1px;
    height: 100%;
    background-color: currentColor;
}

@media (max-width: 750px) {
    .header-title::before {
        content: unset;
    }
}

.mobile-right {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    margin-right: var(--grid-1-calc);
    z-index: 10;

}

@media (max-width: 750px) {
    .mobile-right {
        width: calc(100% - 6rem);
        justify-content: space-between;
    }
}

.fdnd-logo {
    position: relative;
    display: block;
    height: 3rem;
    width: auto;
    transition: transform 0.4s ease-out;
}

@media (max-width: 1024px) {
    .fdnd-logo {
        height: 2.5rem;
    }
}

.fdnd-logo svg {
    height: 100%;
    width: auto;
}

.nav-button {
    display: none;
    width: 4rem;
    position: fixed;
    top: 1.5rem;
    right: 1rem;
    background: none;
    border: none;
    color: var(--color);
    padding: 0;
    cursor: pointer;

}

.nav-button:hover span {
        transform: translate(-1px, 1px);
}

.nav-button span {
    position: relative;
    display: block;
    background: var(--background);
    border: 1px solid currentColor;
    border-radius: 0.5rem;
    padding: 0.5rem;
    z-index: 1;
    transition: translate 0.3s ease-out;

}

.nav-button span.is-opened {
    display: none;
}

.nav-button::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: -3px;
    bottom: -3px;
    background: var(--background);
    border: 1px solid currentColor;
    border-radius: 0.5rem;
    z-index: -1;
}

@media (max-width: 750px) {
    .nav-button {
        display: block;
    }
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    
}

.nav-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--grid-1) * 40 / 60);
    border-radius: var(--radius) var(--radius) 0 0;
    padding: 1.5rem var(--grid-1-calc) 1.5rem 1.5rem;
    list-style: none;
    background: var(--background);
    color: var(--color);
    margin-right: calc(var(--radius) / 2);
    max-width: calc(100% - var(--radius) * 1.25);
    margin-left: auto;
    box-shadow: 0 calc(var(--radius) * 2) 0 0 var(--background);
    transform: translateY(100%);
    animation: up 0.4s 0.6s ease-out forwards;
}

@media (prefers-reduced-motion) {
    .nav-list,
    .fixed-button {
        transform: none !important;
    }
}

@keyframes up {
    to {
        transform: translateY(0);
    }
}

@media (max-width: 870px) {
    .nav-list {
        flex-grow: 1;
    }
}

@media (max-width: 750px) {
    .nav-list {
        animation: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 0;
        height: 100vh;
        height: 100lvh;
        margin: 0;
        max-width: unset;
        z-index: 1;
        flex-direction: column;
        font-size: 2rem;
        padding: 8rem var(--padding-side);
        background-color: var(--accent-color-2);
        clip-path: inset(-1px -1px 101%);
        transition: clip-path 0.4s 0.2s ease-out, opacity 0s 0.6s;
        transform: translateY(0);
    }
}

@media (min-width: 1920px) {
    .top-header, .fdnd-logo {
        margin-left: var(--calc-side);
    }
    .nav-list {
        padding-right: calc(var(--calc-side) + var(--padding-side));
    }
    .header .insta {
        margin-right: calc(var(--padding-side) + var(--calc-side));
    }
}

.nav-list::before {
    content: '';
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    left: -1.5rem;
    border-radius: 0 0 50% 0;
    bottom: 0;
    box-shadow: 0.5em 0.5em 0 0 var(--background);
}

@media (max-width: 870px) {
    .nav-list::after {
        content: unset;
    }
}

.nav-item {
    clip-path: inset(-10px -5px);

}

.nav-item a {
    display: block;
    transition: opacity 0.2s ease-out, transform 0.4s ease-out;
    transition-delay: calc(var(--total) - var(--i) * 0.1s);
    text-decoration: none;
    letter-spacing: -0.03em;
}

.nav-item a:hover {
    text-decoration: underline;
}

@media (max-width: 750px) {
    .nav-list::before {
        content: unset;
    }
    .nav-item a {
        opacity: 0;
        transform: translateY(100%);
    }
}

@media (max-width: 750px) {
    .header.is-active .nav-button span.is-opened {
        display: block;
    }

    .header.is-active .nav-button span.is-closed {
        display: none;
    }

    .header.is-active .fdnd-logo {
        transform: translateY(-74px);
    }

    .header.is-active .nav-list {
        opacity: 1;
        clip-path: inset(-1px -1px 0%);
        transition: clip-path 0.4s ease-out, opacity 0s;
    }

    .header.is-active .nav-item a {
        opacity: 1;
        transform: translateY(0%);
        transition: opacity 0.2s 0.2s ease-out, transform 0.4s 0.2s ease-out;
        transition-delay: calc(0.2 + var(--total) - var(--i) * 0.1s);
    }
}


/*
======================
Fixed button
======================
*/



.fixed-button {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10;
    align-items: flex-end;
    padding: 1.5rem;
    background-color: var(--accent-color-1);
    border-radius: var(--radius) 0 0 0;
    animation: up 0.4s 0.4s ease-out forwards;
    transform: translateY(100%);
}

.fixed-button p {
    margin-bottom: 0.3em;
}

.fixed-button .button {
    width: max-content;
}

.fixed-button::before {
    content: '';
    position: absolute;
    left: calc(var(--radius) * -1);
    bottom: calc(var(--radius) / 2);
    width: var(--radius);
    height: var(--radius);
    border-radius: var(--radius);
    box-shadow: calc(var(--radius) / 2) calc(var(--radius) / 2) 0 0 var(--accent-color-1);
}
.fixed-button::after {
    content: '';
    position: absolute;
    right: calc(var(--radius) / 2);
    top: calc(var(--radius) / -1);
    width: var(--radius);
    height: var(--radius);
    border-radius: var(--radius);
    box-shadow: calc(var(--radius) / 2) calc(var(--radius) / 2) 0 0 var(--accent-color-1);
}

/*
======================
PAGE HEADER
======================
*/

.page-header {
    overflow: hidden;
    width: var(--section-width);
    max-width: var(--max-width);
    margin: 0 auto;
    padding: var(--padding-side) var(--padding-side) 0;
}

@media (max-width: 750px) {
    .page-header {
        padding-top: 2rem;
    }
}

.page-header-inner {
    position: relative;
}

.page-header-image {
    width: 100%;
    height: clamp(20rem, calc(100vw / 24 * 610 / 60), 51rem);
    border-radius: var(--radius);
    overflow: hidden;
}



.page-header-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;    
}

.page-header-text {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    padding: 0 clamp(1.5rem, calc(100vw / 24 * 40 / 60), 2.5rem) clamp(1.5rem, calc(100vw / 24 * 40 / 60), 2.5rem);
    background-color: var(--background);
}

.page-header-text h1 {
    margin-top: 0.1em;
    width: clamp(18.75rem, calc(100vw / 24 * 500 / 60), 41rem);
}

.page-header-meta {
    position: absolute;
    background-color: var(--background);
    bottom: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    padding: clamp(1.5rem, calc(100vw / 24 * 40 / 60), 2.5rem) clamp(1.5rem, calc(100vw / 24 * 40 / 60), 2.5rem) 0;
    list-style: none;
    max-width: calc(100vw - 8rem);

}

.page-header-value {
    opacity: 0.65;
    margin-top: 0.25rem;
}

@media (max-width: 750px) {

    .page-header-text {
        position: relative;
        padding: 0 1rem 1rem 0;
    }

    .page-header-meta {
        position: relative;
        max-width: unset;
        gap: 2rem;
        padding: 1rem 1rem 0 0;
    }

    .page-header-text h1 {
        width: 100%;
    }
}


.rounded--left-bottom {
    --b-top: 0;
    --b-left: calc(var(--radius) * -2);
    --b-x: var(--radius);
    --b-y: calc(var(--radius) * -1);
    --a-top: 100%;
    --a-left: calc(100% - calc(var(--radius) * 2));
    --a-x: var(--radius);
    --a-y: calc(var(--radius) * -1);
    border-radius: 0 0 0 var(--radius);
}

.rounded--right-top {
    --b-top: calc(var(--radius) * -2);
    --b-left: 0;
    --b-x: calc(var(--radius) * -1);
    --b-y: var(--radius);
    --a-top: calc(100% - calc(var(--radius) * 2));
    --a-left: 100%;
    --a-x: calc(var(--radius) * -1);
    --a-y: var(--radius);
    z-index: 1;
    border-radius: 0 var(--radius) 0 0;
}

[class*='rounded--']::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: var(--b-top);
    left: var(--b-left);
    width: calc(var(--radius) * 2);
    height: calc(var(--radius) * 2);
    border-radius: 50%;
    box-shadow: var(--b-x) var(--b-y) 0 0 var(--background);
}

[class*='rounded--']::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: var(--a-top);
    left: var(--a-left);
    width: calc(var(--radius) * 2);
    height: calc(var(--radius) * 2);
    border-radius: 50%;
    box-shadow: var(--a-x) var(--a-y) 0 0 var(--background);
}


/*
======================
IMAGE WITH TEXT
======================
*/

.image-with-text {
    display: flex;
    flex-wrap: wrap;
    width: var(--section-width);
    max-width: var(--max-width);
    margin: 0 auto;
    padding: var(--padding-side) var(--padding-side) 0 calc(var(--padding-side) * 2);
}

@media (max-width: 1024px) {
    .image-with-text {
        padding: 4rem var(--padding-side) 0;
    }
}

@media (max-width: 750px) {
    .image-with-text {
        flex-wrap: wrap-reverse;
    }
}

.image-with-text.is-reversed {
    flex-direction: row-reverse;
}

.image-with-text.is-reversed .image-container {
    --width: calc(var(--grid-1) * 10.5);
    --max-width: 880px;
    height: calc(var(--width) * var(--ratio));

}

@media (max-width: 750px) {
    .image-with-text.is-reversed .image-container {
        --width: calc(100vw - var(--padding-side));
    }
}


.image-container {
    --width: calc(var(--grid-1) * 8.5);
    --max-width: 680px;
    width: var(--width);
    max-width: var(--max-width);
    height: calc(var(--width) * var(--ratio));
    max-height: calc(var(--max-width) * var(--ratio));
}

@media (max-width: 750px) {
    .image-container {
        --width: calc(100vw - var(--padding-side));
        margin-top: 2rem;
    }
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--radius);
}

.text-container {
    width: 40%;
    flex-grow: 1;
    padding: var(--padding-side) var(--padding-side) 0;
}

@media (max-width: 1024px) {
    .text-container {
        padding-right: 0;
    }
}

@media (max-width: 750px) {
    .text-container {
        width: 100%;
        padding: 0;
    }
}

.text-container .p {
    padding-right: calc(var(--padding-side) / 2);
}

@media (max-width: 750px) {
    .text-container .p {
        padding: 0;
    }

    .text-container .p p+p {
        padding: 0;
    }
}

.text-container .p p+p {
    padding-right: calc(var(--padding-side) * 0.75);
}

/*
======================
CTA ROW
======================
*/

.cta-row {
    --button-color: var(--accent-color-2);
    margin: auto;
    margin-top: var(--padding-side);
    width: var(--section-width);
}

@media (max-width: 1024px) {
    .cta-row {
        margin-top: 4rem;
    }
}

.cta-row .inner {
    display: flex;
    flex-wrap: wrap;
    max-width: var(--max-width);
    margin: auto;
    gap: var(--padding-side);
    padding: var(--padding-side);

}

.cta {
    background-color: var(--accent-color-2);
    width: 20%;
    flex-grow: 1;
    padding: calc(var(--padding-side) / 2);
    max-width: calc((100% - var(--padding-side)) / 2);
    min-width: min-content;
    border-radius: 0.5rem;
}

@media (max-width: 750px) {
    .cta {
        width: 100%;
        max-width: unset;
        padding: 1.5rem;
    }
}

.cta p {
    max-width: 500px;
}

.cta .button {
    width: max-content;
}

.simple-text {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: var(--padding-side) var(--padding-side) 0 calc(var(--padding-side) * 2);
}

.simple-text .inner {
    max-width: 800px;
    margin: auto;
}

@media (max-width: 1024px) {
    .simple-text {
        padding: 4rem var(--padding-side) 0;
    }
}

details+details {
    margin-top: 1.5rem;
}

details .p {
    padding: 1rem 1.25rem 0;

}

details .button {
    display: block;
    width: max-content;
}

details summary {
    padding: 1.25rem;
    border: 1px solid currentColor;
    border-radius: var(--small-radius);
    transition: background 0.3s ease-out, color 0.3s ease-out;
    cursor: pointer;
}

details summary:hover {
    background-color: var(--blue-50);
    color: var(--background);
}

details[open] summary {
    background: var(--color);
    color: var(--background);
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 5rem 0 1.5rem;
}

.insta {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
}

.insta svg {
    width: 100%;
    height: auto;
    fill: currentColor;
}



/* 
.portfolio {
    overflow: hidden;
    background: var(--accent-color-1);
    max-width: var(--max-width);
    margin: var(--padding-side) auto 0;
    padding: var(--padding-side) var(--padding-side) var(--padding-side) calc(var(--padding-side) * 2);
}

.portfolio-items {
    display: flex;
    width: max-content;
    overflow: scroll;
    gap: 5%;
    margin-top: calc(var(--padding-side) / 2);
}

.portfolio-item {
    width: 20vw;
    background-color: var(--background);
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.portfolio-item video, .portfolio-item img {
    width: 100%;
} */