<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/assets/style.css">
  <title>{{title}}</title>
</head>
<body>
  <header>
      <h1>{{title}}</h1>
      <p>{{teaser}}</p>
  </header>

  <main>
    {{content | safe}}
  </main>

  <footer>
    <a href="https://github.com/adfrontend/fdnd.nl">Edit on GitHub</a>
  </footer>
</body>
</html>
